.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
    
}
.header {
    border: 1px solid rgb(208, 200, 200);
    background-color: rgb(208, 200, 200);
    grid-column: 1/5;
    grid-row: 1;
    

}
.sections {
    border: 1px solid rgb(241, 238, 163);
    background-color: rgb(241, 238, 163);
    float: left;
    grid-column: 1/4;
}
.aside {
    border: 1px solid rgb(184, 235, 166);
    background-color: rgb(184, 235, 166);
    float: right;
    grid-column: 4/5;
}
.footer {
    border: 1px solid rgb(229, 235, 235);
    background-color: rgb(229, 235, 235);
    grid-column: 1/5;
    height: 200%;
}

.footer footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Создаем 4 колонки равной ширины */
    grid-column-gap: 10px;
    align-items: center;
}
.foot {
    display: grid;
    justify-content: center;
    padding: 5px;
    border: 1px solid rgba(195, 193, 188, 0.759);
    background-color: rgba(195, 193, 188, 0.759);
    gap: 10px;
}
p, h1, h2 {
    display: flex;
    justify-content: center;
}
.smallsections {
    display: grid;
    grid-template-columns: 50% 1fr 2fr;
}
.sections main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px; 
}

h2 {
    grid-column: 1 / span 2; 
}

.smallsections1 {
    grid-row: 2;
    border: 1px solid rgba(255, 207, 15, 0.759);
    background-color: rgba(255, 207, 15, 0.759);
    gap: 10px;
}

.smallsections2 {
    grid-row: 2; 
    grid-column: 2; 
    border: 1px solid rgba(255, 207, 15, 0.759);
    background-color: rgba(255, 207, 15, 0.759);
    gap: 10px;
}

.smallsections3 {
    grid-row: 3; 
    grid-column: 1 / span 2; 
    border: 1px solid rgba(255, 207, 15, 0.759);
    background-color: rgba(255, 207, 15, 0.759);
    gap: 10px;
}

